:root { 
    --main-color:  #FEBE10 ;
    --secondary-color: #cc0000;
    --text-color: white ;
    --background-color: #020307;
}

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;  
    font-size: 13px;
    box-sizing: border-box;
    font-weight: 500;  
    font-style: normal;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    align-items: center;
    z-index: 99;
} 

header .logo {
    padding-top: 10px;
    max-width: 200px;
    height: auto;
    align-items: center;
}

header .menu{
    display: flex;
    list-style-type: none;
}
.logo img {
  width: 100%;
    height: 100%
}

/* START OF NAVIGATION BAR CSS */
.menu{
    display: flex;
    column-gap: 5rem;
    list-style-type: none;
}

.menu li{
    margin: 0 5px;
    position: relative;
}

.menu a{
    text-decoration: none;
    color: var(--text-color)
}

.menu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -4px;
    left: 0;
    background: var(--main-color);
    transition: 0.4s ease-in-out;
}

.menu a:hover::after, 
.menu .home-active::after{
    width: 100%;
}

.all-btn{
    font-size: 15px;
    display: flex;
    column-gap: 0.5rem;
    list-style-type: none;
}
.all-btn a{
    text-decoration: none;
    color: var(--text-color)
}

.login_btn{
    padding: 1rem 2.5rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 0.6rem;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.reg_btn{
    padding: 1rem 2.5rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 0.6rem;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.login_btn:hover { 
    padding: 1rem 2.5rem;
    background-color: var(--main-color);
    color: var(--background-color);
    cursor: pointer;;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in;
}

.reg_btn:hover { 
    padding: 1rem 2.5rem;
    background-color: var(--main-color);
    color: var(--background-color);
    cursor: pointer;;
}


.movie_btn{
    padding: 1rem 2.5rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 0.6rem;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in;
}

.movie_btn:hover { 
    padding: 1rem 2.5rem;
    background-color: var(--main-color);
    color: var(--background-color);
    cursor: pointer;;

    /* border-radius: 2rem;
    border: 2px solid var(--main-color); */
}

.welcome-back{
    top:0;
    left:0;
    right:0;
    position:fixed;
    overflow: hidden;
}

.landing_page {
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display:flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
#popcorn {
    width: 300px;
}

footer {
    /* justify-content: space-evenly; */
    background-color: 	#343434;
    backdrop-filter: blur(5px);
    height: fit-content;
    bottom: 100%;
    display: flex;
    padding: 2rem;
    border-radius: 50px 50px 0 0;
    /* border-radius: 50% 25% 0 0; */
    justify-content: center;
    gap: 10%;
    align-items: center;
    max-width: 100%;
}

.box1 h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.box1 p {
    font-size: 24px;
    font-weight: 300;
}
.box1 ul li {
    padding-left: 20px;
    list-style:inside;
}


.box2 {
    justify-content: center;
    align-items: center;
    width: 20%;
}
.box2 h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    height: fit-content;
    bottom: 100%;
    display: flex;
    border-radius: 50px 50px 0 0;
    justify-content: center;
    gap: 10%;
    align-items: center;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey; /* Adjust as needed */ 
}

.landing_page{
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    background-size: cover;
    background-position: center;
}

.landing_page h1{
    font-size: 100px;
}
#citlogo {
    width: 200px;
}

/* .box1 h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
} */
.box1 p {
    font-size: 20px;
    font-weight: 300;
}
.box1 ul li {
    padding-left: 20px;
    list-style:inside;
}